.messages {
    font-weight: bold;
}

td {
    font-family: Verdana;
    height: 60px;
    width: 60px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.cross {
    color: blue;
}

.circle {
    color: red;
}
